main {
    font-family: var(--body);
    width: 940px;
    margin: 2em auto 1em auto;
    display: flex;
    justify-content: space-between;
}

/*estilizando container perfil*/
#perfil {
    width: 384px;
    height: 408px;
    border: 1px solid var(--primary-normal);
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
}

.titulo {
    text-align: start;
    font-family: var(--titulo-destaque);
    font-size: 22px;
    font-weight: 700;
    color: var(--primary-normal);
    margin-top: .5em;
}

.foto__perfil {
    margin-top: 1em;
}


.username {
    font-family: var(--titulo-destaque);
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-normal);
}

.cargo {
    font-family: var(--body);
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-light);
    margin-bottom: 1.5em;
}

/*estilizando índices perfil*/
.indices__perfil {
    border: 1px solid var(--primary-normal);
    border-radius: 8px;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    box-sizing: border-box;
}

.postagens-titulo, .favoritados-titulo, .score-titulo {
    font-family: var(--body);
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-light);
    margin: .4em;
}

/*estilizando bloco últimas postagens*/
#ultimas__postagens {
    height: 408px;
    border: 1px solid var(--primary-normal);
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 1em;
    padding: 1em;
    box-sizing: border-box;
}

/*Caixa postagens*/
.publicacoes {
    display: flex;
    justify-content: space-around;
}

.post {
    border: 1px solid var(--primary-normal);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 1em .5em;
}

.foto__postagem {
    width: 100%;
    margin-bottom: 1.3em;
    background-image: url("../img/Imagem.svg") no-repeat;
    background-position: top center;
    background-size: contain;
    background-clip: border-box;
    background-origin: border-box;
}

.categoria__postagem {
    font-family: var(--titulo-destaque);
    font-size: 13px;
    font-weight: 600;
    color: var(--secundary-normal);
    background-color: var(--secundary-light);
    padding: 9px 14px;
    text-decoration: none;
    border-radius: 37px;
    margin: 1.3em 1em;
}

.categoria__texto {
    font-family: var(--titulo-destaque);
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin: 1em 1em;
}

.ref__autor {
    font-family: var(--body);
    color: var(--primary-light);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 1em;
}

cite {
    color: var(--primary-light);
    font-size: 13px;
    font-weight: 700;
    margin: 1em;
}